.detailPage {
  position: relative;
  color: white;
}

.detailPage .backLink {
  position: absolute;
  display: inline-flex;
  color: #fff;
  align-items: center;
  font-weight: bold;
  text-decoration: none;
  left: 50px;
  top: 10px;
  filter: drop-shadow(2px 3px 4px rgb(0 0 0 / 0.5));
  z-index: 2; /* Set a higher z-index to ensure the back button is above other elements */
}

.detailPage .backLink svg {
  width: 30px;
  transition: margin-right 0.2s ease-in-out;
}

.detailPage .backLink:hover svg {
  margin-right: 5px;
}

.detailPage .background {
  min-height: 100vh;
  display: flex;
  background-size: cover;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}

.detailPage .background::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(
    0,
    0,
    0,
    0.5
  ); /* Adjust the alpha value to control darkness */
}

.detailPage img {
  max-width: 100%;
  height: auto;
}

.detailPage .summary {
  display: flex;
  flex-direction: column;
  padding: 50px;
  position: relative; /* Make sure it's positioned relative to allow z-index to work */
  z-index: 1; /* Set a higher z-index to place it in front of the overlay */
}

.detailPage .details {
  margin-left: 0;
  margin-bottom: 16px;
}
.detailPage a {
  text-decoration: none;
  color: white;
}

.detailPage .details h1 a:hover {
  color: blue;
}

.detailPage .details p {
  max-width: 400px;
  align-items: center; /* Align items vertically */
}

.detailPage .details h1 {
  display: flex;
  align-items: center; /* Align items vertically */
  font-size: 24px;
  margin-bottom: 18px;
}

.detailPage .details .rating {
  color: black;
  font-weight: 500;
  background: white;
  padding: 0 5px;
  text-shadow: none;
  font-size: 24px;
  margin-left: 10px;
  display: flex;
  align-items: center; /* Align rating text and star icon horizontally */
}

.detailPage .details .star {
  margin-right: 5px; /* Add margin between star icon and rating */
}

.error-message {
  display: flex;
  flex-direction: column;
  font-size: 34px;
  color: red;
  text-align: center;
  margin-top: 20%;
}

.loading-message {
  font-size: 24px;
  text-align: center;
  margin-top: 20%;
}

.back-button {
  color: white;
  font-size: 14px;
}

.back-button:hover {
  margin-top: 5px;
  transition: 0.5s;
}

h3 {
  font-weight: 900;
  font-style: italic;
  margin-top: 8px;
}

.production-companies #link {
  font-size: 12;
  color: rgb(168, 168, 202);
  text-decoration: none;
}

.production-companies #link:hover {
  color: rgb(69, 69, 253);
}

.genre {
  display: flex;
  flex-direction: column;
}

@media (min-width: 698px) {
  .detailPage .summary {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 50px;
  }

  .detailPage .details {
    margin-left: 20px;
  }

  .detailPage img {
    width: 340px;
  }
}

@media (max-width: 576px) {
  .detailPage .background {
    background-size: cover;
  }
}
