.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 16px;
  margin-top: 8px;
  padding-top: 10px;
  padding-bottom: 16px;
  align-items: center;
  margin-right: 18px;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

@media (max-width: 480px) {
  .header-container{
  flex-direction: column;
  }
  .header-container h1 {
    font-size: 8vw;
  }
}