.movie-list {
  display: flex;
  flex-wrap: wrap;
  margin: -10px; /* Add negative margin to compensate for padding in movie-item */
}

.movie-item {
  width: 25%; /* 4 items per row for desktop */
  padding: 10px; /* Add padding to create spacing between items */
  box-sizing: border-box; /* Include padding in the width */
  position: relative;
}

@media (max-width: 1024px) {
  .movie-item {
    width: 50%; /* 2 items per row for tablets */
  }
}

@media (max-width: 480px) {
  .movie-item {
    width: 100%; /* 1 item per row for cellphones down to 480px width */
  }
}

.movie-item img {
  width: 100%;
  height: auto;
  transition: 0.3s;
}

.movie-item:hover img {
  filter: brightness(20%);
}

.movie-title {
  color: white;
  font-size: 24px; /* Adjust font size for smaller screens */
  font-weight: bold;
  margin-bottom: 10px; /* Adjust margin for smaller screens */
}

.movie-release-date {
  color: white;
  font-size: 12px; /* Adjust font size for smaller screens */
  margin-bottom: 5px; /* Adjust margin for smaller screens */
}

.overlay {
  position: absolute;
  bottom: 16px;
  left: 16px;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
  opacity: 0;
  transition: 0.3s;
}

.movie-item:hover .overlay {
  opacity: 1;
}
